/* product-grid.css */

.card {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.info-section {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(2, 300px);
	grid-template-areas:
		"highlight highlight sneaker-purple sneaker-purple"
		"highlight highlight model sneaker-color"
		"sneaker-white sneaker-white model sneaker-silver";
	gap: 30px;
}

.top1-content{
	padding: 2rem;
    text-align: center;
}

.card-title{
    color: #000000;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-subtitle{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.cta-group{
    display: flex;
    gap: 10px;
}


@media (max-width:768px) {
	.info-section{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(5, auto);
		grid-template-areas: 
		"highlight highlight"
		"sneaker-white sneaker-white"
		"model sneaker-color"
		"model sneaker-silver"
		"sneaker-purple sneaker-purple";
		max-width: 100%;
		gap: 0.625rem;
	}

	.highlight{
		min-height: 500px;
	}

	.model{
		min-height: 370px;
	}

}

