.info-section {
	padding: 2rem;
	background-color: #3e4147;
	border-radius: 20px;
}

.top1-content {
	max-width: 1360px;
	margin: 0 auto;
	text-align: center;
}

.card-title {
	color: #ffffff;
	font-size: 1.25rem;
	font-weight: 400;
	margin-bottom: 10px;
}

.card-subtitle {
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 400;
    text-align: justify;
}

@media (max-width: 768px) {
	.info-section {
		padding: 1.5rem 1rem;
	}
}